:root {
    --background: black;
    --background2: #2eaf7d;
    --text: #e7e7e7;
    --title: #c1f6ed;
    --text2: #449342;
	background-image: url('./assets/black-and-white-background-3227.jpeg'), linear-gradient(var(--background), black);
	/*background-repeat: no-repeat;
	background-blend-mode: lighten;*/
	background-size: cover;
}
body {
	height: 100%;
	width: 100%;
	display: inline;
	flex-direction: column;
	overflow: auto;
	font-size: large;
}
#content {
	width: 100%;
	height: 100%;
	margin-top: 3%;
	overflow: auto;
	padding: 10px;
	margin-left: 1%;

}
#info {
	width: 20%;
	margin-left: 1rem;
	border: 1px var(--background) solid;
	padding: 1%;
	opacity: 0.9;
	background-color: var(--background);
}
#page {
	width: 80%;
	border: 1px var(--background) solid;
	padding: 1%;
	opacity: 0.9;
	background-color: var(--background);
}
#resPage {
	width: 99%;
	height: auto;
	border: 1px var(--background) solid;
	opacity: 0.9;
	background-color: var(--background);	
}
.wrapper {
	display: flex;
	color: var(--text);
}
.column {
	flex-direction: column;
}
#button {
	border: 0px var(--background) solid;
	margin: 1em;
	color: var(--background);
	font-size: large;
	background-color: #efefef;
	transition: font-size 0.9s;
	&:hover {
		text-shadow: 1px 1px var(--background2);
		color: black;
		font-size:larger;
    }
}
#button2 {
	border: 0px var(--background) solid;
	margin: 1em;
	color: var(--background);
	font-size: large;
	background-color: #e7e7e7;
	transition: font-size 0.9s;
	&:hover {
		text-shadow: 1px 1px var(--background2);
		color: black;
		font-size:larger;
    }
}
.project {
	margin-top: 4%;
	width: 15%;
	padding: 1rem;
	margin: 1rem;
	display: inline-block;
	&:hover {
		opacity: 0.5;
	}
	border: 1px var(--background) solid;
	opacity: 0.9;
	background-color: var(--background);
}
.project-list {
	overflow: auto;
}